#block-views-4b693386ec754134225cbb56853b8f9c{
  .views-exposed-widgets{
    margin-left: 10px;
    #edit-search-api-views-fulltext-wrapper{
      width: 75%;

      @media (max-width: $screen-xs-max ) {
        width: 100%;
      }

      input#edit-search-api-views-fulltext {
        outline:none;
        border: 1px solid $gray-lighter;
        box-shadow: none;
        background-color: $gray-dark;
        color: #fff;
      }

      input:-webkit-autofill{
        -webkit-box-shadow: 0 0 0px 1000px $gray-dark inset;

      }

      input#edit-search-api-views-fulltext:focus {

      }

    }

    .views-submit-button {

      #edit-submit-board-game-search-page {
        margin-top:0px;
        float:left;
      }
    }
  }
}

.block-facetapi{
  .yui3-u.range-box{
    float:left;
  }

  input.form-submit{
    float:left;
  }

  @media (min-width: $screen-md-min){
    input.form-submit{
      float:none;
    }
  }

  input[type="text"].form-control{
    width:70px;
  }

  ul.facetapi-facetapi-links{
    .leaf{
      a {
        color: #000000;
      }
    }
  }
}

.view-id-board_game_search_page{
  .row {
    .col {
      padding:10px;
      .search-card{
        min-height: 350px;
        
        border: 3px solid $gray-lighter;
        padding: 10px;


        img {
          width: 100%;
        }
        .views-field-title a{
          font-size: $font-size-h3;
          color: #000;
          font-weight: bold;
        }
        .views-field-views-conditional-2{
          color: $theme-color;
          font-size: $font-size-h4;
          font-weight: bold;
        }
      }
    }
  }
}