.view-id-home_slideshow .views-bootstrap-carousel-plugin-style {
  .item {
    .views-field-field-image div.field-content {
      img {
        position: static;
        margin: auto;
        max-height: 515px;
      }
    }

    .views-field-nothing {
      position: absolute;
      left:280px;
      top:60px;
      max-width:450px;

      .slidebox{
        background-color: $gray-lighter;
        min-width: 250px;
        .slidebox-title{
          opacity: 1;
          font-size: $font-size-h2;
          text-align: center;
          color: $theme-color;
          background-color: #fff;
          padding: 5px;
          font-weight: bold;
        }

        .slidebox-content{
          padding: 5px;
          opacity: 1;
          font-size: $font-size-large;
          color: #000;
        }

      }

    }

    @media (max-width: $screen-xs-max) {
      .views-field-nothing {
        display:none;
      }
    }

    @media (min-width: $screen-lg-desktop) {
      .views-field-nothing {
        position: absolute;
        left:500px;
        top:60px;
        max-width:450px;
      }
    }
  }
}